@font-face {
    font-family: "monogram";
    src: local("monogram"),
        url("/assets/monogram.ttf");
}

body {
    background-color: rgb(70, 70, 70);
    padding: 0;
    margin: 0;
    font-family: "monogram";
    font-size: 32px;
    cursor: url("/assets/cursor.png"), pointer;
}

@keyframes header-zoom {
    0% {transform: scale(0, 0)}
    50% {transform: scale(0.5, 0.5)}
    100% {transform: scale(1, 1)}
}

@keyframes instructions-fadein {
    0% {opacity: 0;}
    85% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes startbutton-fadein {
    0% {opacity: 0;}
    85% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes background-fadein {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

@keyframes background-movement {
    0% {background-position-y: 0%;}
    25% {background-position-y: 0%;}
    100% {background-position-y: 100%;}
}

#p5_loading {
    display: flex;
    justify-content: center;

    color: #ffddb4;
    position: absolute;
    left: 38vw;
    top: 47vh;
}

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    background-image: url("/assets/header.png");
    position: absolute;
    padding-top: 5px;
    font-size: 50px;
    top: 150px;
    width: 500px;
    height: 50px;
    align-self: center;
    text-align: center;

    animation-name: header-zoom;
    animation-duration: 2s;
    animation-timing-function: linear;
}

p {
    background-image: url("/assets/Instructions.png");
    position: absolute;
    top: 250px;
    font-size: 40px;
    width: 400px;
    height: 138px;
    padding: 20px;
    text-align: center;

    animation-name: instructions-fadein;
    animation-duration: 3s;
}

#canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    opacity: 1;

    margin-top: 50px;
}

.background-animation{
    background-image: url("/assets/filthy-drawings-arena-2.png");
    background-position: bottom;
    border: 1px white solid;
    animation-name: background-fadein, background-movement;
    animation-duration: 1s, 8s;
}

.start-button {
    position: absolute;
    align-self: center;
    top: 550px;
    width: 300px;
    height: 40px;
    font-family: "monogram";
    font-size: 32px;
    background-color: rgb(254,225,184);

    animation-name: startbutton-fadein;
    animation-duration: 3.5s;
}

.character-screen {
    display: none;
}

.nameInput {
    font-family: monogram;
    font-size: 32px;
    text-align: center;
    position: absolute;
    padding: 10px 0 60px 0;
    margin: 0;
    width: 262px;
    height: 30px;
    top: 430px;
    border: none;
    background: none;
    background-image: url("/assets/nameInput.png");
}

.enterArena{
    font-family: monogram;
    font-size: 32px;
    text-align: center;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 266px;
    height: 30px;
    top: 490px;
    border: none;
    background: none;
}

.characterBox {
    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 200px;


    width: 750px;

}

.characterDisplay {
    width: 300px;
    height: 300px;
    background-image: url("/assets/characterDisplay.png");
}

.characterStats {
    display: flex;
    flex-direction: column;
    
    padding-left: 50px;
    padding-top: 25px;
    width: 350px;
    height: 275px;
    background-image: url("/assets/characterStats.png");

}

.menu {
    display: flex;
    justify-content: space-around;

    position: absolute;
    top: 550px;
    
    background-image: url("/assets/menu.png");
    height: 40px;
    width: 750px;
    padding-top: 10px;
    
}

.fightSelectContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: 200px;

    height: 400px;
    width: 400px;
}

.fightSelect {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 300px;
    background-image: url("/assets/fightSelect.png");
}

.startFight {
    text-align: center;
    background-image: url("/assets/startFight.png");
    width: 400px;
    height: 40px;
    padding-top: 10px;
}


.fightContainer {
    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 524px;

    height: 170px;
    width: 926px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-image: url("/assets/options.png");
    width: 150px;
    padding-left: 50px;

}

.statusField {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-image: url("/assets/statusField.png");
    width: 624px;
    padding-left: 50px;
    
}

.enemySelector {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: absolute;
    top: 524px;

    
    height: 170px;
    width: 876px;
    padding-left: 50px;
    background-image: url("/assets/message.png");
}

.messageDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: absolute;
    top: 524px;

    
    height: 170px;
    width: 876px;
    padding-left: 50px;
    background-image: url("/assets/message.png");
}

.enemyMessageDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: absolute;
    top: 524px;

    
    height: 170px;
    width: 876px;
    padding-left: 50px;
    background-image: url("/assets/message.png");
}

.burningDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: absolute;
    top: 524px;

    
    height: 170px;
    width: 876px;
    padding-left: 50px;
    background-image: url("/assets/message.png");
}